<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./public/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/482c89666c.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <title>Teddy</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row nav-bar">
                <div class="col-4 logo">
                    <a href="products.html"><img src="./public/images/logo.png" alt=""></a>
                </div>
                <div class="col-8">
                    <a href="summaryBasket.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span
                            id="number-basket">0</span></a>
                </div>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="single-element">
            <div id="product" class="row">

            </div>
        </div>
    </main>
    <footer>
    </footer>
    <script src="./public/js/quantityBasket.js"></script>
    <script src="./public/js/product.js"></script>

</body>

</html>